*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Public Sans', sans-serif;
}

:root{
    --color1: hsl(233, 26%, 24%);
    --color2: hsl(136, 65%, 51%);
    --color3: hsl(192, 70%, 51%);
    --color4: hsl(233, 8%, 62%);
    --color5: hsl(220, 16%, 96%);
    --color6: hsl(0, 0%, 98%);
    --color7: hsl(0, 0%, 100%);
}

.container{
    max-width: 144rem;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13rem;
    height: 8rem;
    .logo{
        img{
            width: 15rem;
        }
    }
    .menu{
        height: 100%;
        display: flex;
        list-style: none;
        .menu-item{
            margin: 0 2rem;
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            height: 100%;
            font-weight: 700;
            color: var(--color4);
            transition: all .4s;
            cursor: pointer;
            &:hover{
                border-bottom: .5rem solid var(--color2);
                color: var(--color1);
            }
        }
    }
    .request-invite{
        button{

        }
    }
}

.button-style{
    width: 15rem;
    height: 4.5rem;
    border-radius: 4rem;
    outline: none;
    border: none;
    background: linear-gradient(to right, var(--color2), var(--color3));
    color: var(--color7);
}